header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #000;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    width: 130px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
    padding: 8px 0;
    font-size: 15px;
}

nav a+a {
    padding-left: 20px;
}

a:hover {
    color: #9b9b9b;
}