.categoria {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 40px 50px 18px;
}

.carrossel {
    height: 270px;
    position: relative;
    overflow: hidden;
}

.indicator-icon {
    width: 32px;
}

.switchLeft,
.switchRight {
    position: absolute;
    height: 100%;
    width: 45px;
    border: none;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.switchLeft:hover,
.switchRight:hover {
    opacity: 1;
    line-height: 263px;
    background-color: rgba(0, 0, 0, 0.2);
}

.switchRight {
    right: 0;
}

.poster-container:first-child {
    padding-left: 45px;
}

.lista-filmes {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
    white-space: nowrap;
}

.poster {
    width: 210px;
    height: 270px;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 5px;
}

.lista-filmes .poster:hover {
    transform: scale(1.06);
    padding: 10px;
}